.message-form {
    width: 100%;
}

div .send {
    /*height: 56px;*/
    /*border-radius: 30px;*/
    margin-left: 25px;
    margin-top: 23px;
    background-color: #329688;
}

div .send:hover {
    background-color: #329688;
    opacity: 0.8;
    transition: opacity 0.3s;
}

div .text-field {
    margin-bottom: 5px;
    margin-top: 25px;
}

div .text-field:nth-child(2) {
    margin-left: 20px;
    width: 59%;
}

div .text-field:first-child {
    width: 25%;
}
