.messanger {
    height: 80vh;
    width: 77%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
}