#header {
    grid-area: header;
}

#chat-list {
    grid-area: chat-list;
}

#messenger {
    grid-area: messenger;
}

#aside {
    grid-area: footer;
}

.container {
    display: grid;
    grid-template-columns: 25% 55% 20%;
    grid-template-rows: 64px auto;
    grid-template-areas: 'header header header' 'chat-list messenger aside';

    height: 100vh;
}

#messenger {
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
}