.header {
    background-color: #329688;
    color: white;
    height: 8vh;
    box-sizing: border-box;
    padding: 10px 15px;
    display: flex;
}

.header img {
    width: 45px;
    margin-right: 15px;
}
