.header {
    background-color: #329688;
    color: white;
    height: 8vh;
    box-sizing: border-box;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}

.header img {
    width: 45px;
    margin-right: 15px;
    border-radius: 50%;
}

.chat-info {
    display: flex;
}

a {
    text-decoration: none;
}

.profile-link {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    display: inline;
}

.header .profile-link-button {
    border-color: white;
}
