.header {
    align-content: center;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    width: 100%;
}

.container {
    display: flex;
    height: 1000px;
}

.chatlist {
    width: 30%;
}

.messenger {
    width: 70%;
}