.message {
  color: rgb(165, 42, 165);
  padding: 5px 15px;
  border-radius: 20px;
  background: white;
  font-size: 20px;
  margin: 5px;

  &-owner {
    align-self: flex-end;
  }

  &-companion {
    align-self: flex-start;
    color:lightseagreen;
  }

  &-sender{
    color: gray;
    font-size: 14px;
  }
}