.chat-list {
    width: 30%;
    border: 2px solid #e5ddd4;
    border-top-color: transparent;
    background-color: #fbf7f3;
}

ul {
    list-style-type: none;
}

.chat-list img {
    width: 45px;
    margin-right: 10px;
    border-radius: 50%;
}

.menu-item {
    border-bottom: 1px solid #e5ddd4;
}

.chat-name {
    color: black;
}
