.messenger
  background: rgba(155, 219, 255, 0.27)
  margin-top: 25px

  .message__list
    width: 100%
    padding: 10px
    margin-left: 15px

  .message__form
    padding: 10px

    .message__form-card {
      padding 5px
    }