.headerContainer {
    padding: 2px 4px;
    display: flex;
    align-items: center;
    width: 100%;
}
.input {
    margin-left: auto;
    flex: 1;
}
.iconButton {
    padding: 10px;
}
.divider {
    height: 28px;
    margin: 4px;
}