.layout {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {
        display: flex;
    }

    &__left {
        width: 30%;
        background-color: #bbdefb;
        
    }
    
    &__right {
        width: 70%;
        background-color: #bbdefb;
        border-left: 2px dashed #2196f3;
    }
}

