.message {
  background-color: lightblue;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 20px;
  margin: 5px;
  
  &-owner {
    align-self: flex-end;
  }

  &-companion {
    align-self: flex-start;
  }

  &-sender {
    color: gray;
    font-size: 14px;
  }
}