.messagesList__wrapper{
    margin: 15px 0 0 0;
    border-top: 2px solid indigo;
    width: 100%;
    padding: 15px 0;
}
.messagesList__li{
    margin: 0 0 15px 0;
    display: flex;
}
.messagesList__li_right{
    justify-content: flex-end;
}
.messagesList__p{
    padding: 5px 10px;
    background-color: indigo;
    border-radius: 15px;
    color: chartreuse;
    display: inline-block;
}

.messagesList__span{
    color: yellow;
    font-size: 20px;
    max-width: 100%;
    margin: 0 0 0 5px;
}