.message {
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 13px;
    margin: 5px;
    max-width: 50%;
}

.bot-message {
    background-color: #ffffff;
}

.person-message {
    background-color: #dcf8c6;
}

.info {
    color: grey;
    font-size: 14px;
    display: flex;
    padding-top: 5px;
}

.info > div {
    margin-right: 5px;
}
