.header {
    width: 100%;
    background-color: bisque;
    display: flex;
    align-content: center;
    justify-content: center;
}

.container {
    display: flex;
    height: 1000px;
}

.chatlist-wrap {
    width: 30%;
}

.messenger-wrap {
    width: 70%;
}